h1 {
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
  font-size: 80px;
}

h2 {
  color: red;
  font-family: helvetica;
  font-weight: bold;
  font-size: 40px;

}

h3 {
  color: blue;
  font-family: helvetica;
  font-weight: bold;
  font-size: 30px;

}

.student {
  width: 300px;
  float: right;
  margin: 10;
  border: 2px;
  padding: 20px;
}

.img1 {
  float: left;
  margin: 10;
  border: 2px solid gray;
  padding: 6px;
}
