body {
background-color: #9cb4bf;
}

h1 {
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
  font-size: 80px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.img1 {
  float: right;
}

h2 {
  color: red;
  font-family: helvetica;
  font-weight: bold;
  font-size: 40px;
}

p.intro {
  width: 100%;
  font-size: 40px;
}

.img2 {
  float: right;

}

h3 {
  color: blue;
  font-family: helvetica;
  font-weight: bold;
  font-size: 25px;
}

.img3 {
  float: right;
  padding-bottom: 40px;
}

p.second {
  width: 100%;
  font-size: 30px;
}

p.extra {
  width: 100%;
  font-size: 40px;
  }

  .jobs {
    float: left;
    width: 25%;
    background-color: #728289;
    padding: 10px;
  }

  p.outro{
    width: 65%;
    font-size: 40px;
    float: right;
    padding: 15px;
  }
